<!-- Our Berlin -->
<section class="container box-section section-top">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div id="map"></div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h3>Our Berlin Location</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
			</p>
		<div class="details">
			<h5>Contact Details</h5>
			<p><b>Email:</b> ellen@vintagefurniture.com</p>
			<p><b>Phone:</b> +353 86 311 0068</p>
			<p><b>Address:</b> Baumschulenstr. 18, 12437</p>
		</div>

		</div>
	</div>
</section>


<!-- Our Vienna -->
<section class="container box-section">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h3>Our Scotland Location</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
			</p>

			<div class="details">
			<h5>Contact Details</h5>
			<p><b>Email:</b> dave@vintagefurniture.com</p>
			<p><b>Phone:</b> +353 86 311 0068</p>
			<p><b>Address:</b> Vienna str. 168, 12437</p>
		</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div id="map2"></div>
		</div>
	</div>
</section>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBFgdg65_72VfTxDOh_C31q0-uBU78WBg&callback=initMap"
  type="text/javascript"></script>

 <script>
function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 52.4658373, lng: 13.4854931},
          zoom: 14,
          styles: [
            {elementType: 'geometry', stylers: [{color: '#fbf9f9'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#000'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#ffc107'}]},
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#405c79'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            }
          ]
        });
        var marker = new google.maps.Marker({
		    position: {lat: 52.4658373, lng: 13.4854931},
		    map: map,
		 });


        var map = new google.maps.Map(document.getElementById('map2'), {
          center: {lat: 55.872691, lng: -4.8831655},
          zoom: 14,
          styles: [
            {elementType: 'geometry', stylers: [{color: '#fbf9f9'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#000'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#ffc107'}]},
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#405c79'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            }
          ]
        });
        var marker = new google.maps.Marker({
		    position: {lat: 55.872691, lng: -4.8831655},
		    map: map,
		 });
}


































// </script>
