<!-- Our Berlin -->
<section class="container box-section section-top">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<%= image_tag "story.jpg", alt: "Story", class: "img-fluid" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h3>Our Berlin Location</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
			</p>

			<h5>Contact Details</h5>
			<p><b>Email:</b> ellen@vintagefurniture.com</p>
			<p><b>Phone:</b> +353 86 311 0068</p>
			<p><b>Address:</b> Baumschulenstr. 18, 12437</p>
		</div>
	</div>
</section>


<!-- Our Vienna -->
<section class="container box-section">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h3>Our Vienna Location</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
			</p>

			<h5>Contact Details</h5>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<%= image_tag "work.jpg", alt: "Work", class: "img-fluid" %>
		</div>
	</div>
</section>