// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{ box-sizing: border-box; }

body {
	font-family: helvetica;
	font-weight: 200;
}

h1 {
	text-align: center;
	color: #000;
	font-size: 5em;
}

h3 {
	text-align: center;
	color: #000;
	font-size: 2em;
	font-weight: 200;
}

/*Navigation*/

.bg-dark {
	background-color: #fbf9f9 !important;	
}

.navbar-dark .navbar-brand {
	color: #000;
}

.burger {
	display: block;
}

.nav-link {
	color: #000 !important;
}

.nav-item i {
	color: #000;
	font-size: 1.3em;
	padding-top: 10px;
}

.hamburger {
  color: #000;
  font-size: 1.3em;
  background: none;
  border: none;
}

.navbar-nav {
	height: 100vh;
}

/* Rollover Section */

#image-display {
	display: none;

}

.links {
	display: none
}

.preview {
	display: none;
}

/*Footer*/

footer {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	height: 50px;
	background-color: #fbf9f9;
}

.container-nav {
	margin-left: 0;
	margin-right: 0;
}

.copy-right {
	float: left;
	padding-top: 10px;

	color: #000;
}

.social-links {
	float: right;
	padding-top: 10px;
}

.social-links a {
	color: #000;
	font-size: 1.4em;
	padding-right: 10px;
}

.social-links a:hover {
	color: #797575;
}

.social-links a:last-child {
	padding-right: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	background-image: none;
}

.carousel-control-next {
	display: none;
}

.carousel-control-prev {
	display: none;
}

.right-circle {
	display: none;
}

.left-circle {
	display: none;
}

.hero-text {
	font-size: 2em;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}

.container {
	max-width: 100%;
}

.container-full {
	width: 100%;
	background-color: #fbf9f9;
	box-shadow: 2px 2px #eee;
	position: fixed;
	z-index: 50;
	top: 0;
}

.intro-text {
	margin-top: 50px;
	margin-bottom: 50px;
}

.items-img {
	margin-bottom: 30px;
}

.index-hero {
	margin-top: 80px;
}

.title {
    display: none;
}

@media (min-width: 768px) {

	h3 {
		text-align: left;
	}

	.hero-text {
		font-size: 3em;
		border-top: 3px solid #fff;
		border-bottom: 3px solid #fff;
	}

	.items-img {
		display: block;
    	margin: auto;
    	position: relative;
	}

	.slide-bg {
	  	position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #fff;
	    opacity: 0.7;
	    display: none;
	}

	.title {
	    position: absolute;
	    width: 100%;
	    top: 40%;
	    left: 0;
	    color: #000;
	    font-size: 1.3em;
	    text-align: center;
	    font-weight: 300;
	    display: none;
	  }
}

@media (min-width: 992px) {

	.burger {
		display: none;
	}

	.container {
		max-width: 1100px;
	}


	.navbar-dark .navbar-brand:hover {
		color: #797575;
	}

	.nav-item {
		padding-right: 10px;
	}

	.nav-item:last-child {
		padding-right: 0;
	}

	.navbar-nav {
		height: auto;
	}

	/* Rollover Section */

	.dropdown-nav {
		width: 1140px;
		margin: 0 auto;
		position: relative;
		z-index: 30;
		display: none;
	}

	#image-display {
		width: 375px;
		height: 250px;
		float: left;
		margin-left: 10px;
	}

	.links {
		width: 60%;
		float: right;
		display: block;
	}

	.links-col1 {
		width: 40%;
		float: left;
	}

	.links-col2 {
		width: 40%;
		float: left;
	}

	.link-item {
		list-style: none;
	}

	.roll:hover {
		text-decoration: underline;
	}

	.chairs-col {
		display: none;
	}

	.lamps-col {
		display: none;
	}

	.preview {
		height: 250px;
		position: absolute;
		z-index: -10;
		display: block;
	}

	.link-hover {
		text-decoration: underline;
	}

	.table-img, .chair-img, .lamp-img {
		display: none;
	}

	/* Carousel*/

	.index-hero {
		width: 100%;
	}

	.intro-text {
		margin-top: 20px;
		text-align: left;
	}
	.intro-text h3 {
		text-align: left;
	}

	.thumbnails {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.intro-text {
		background-color: #fbf9f9;
		height: auto;
		padding: 20px;
	}

	.title {
	    font-size: 2em;
	  }
}


@media (min-width: 1200px) {

	/* Navigation */

	.container {
		max-width: 1200px;
	}

	#image-display {
		margin-right: 10px;
	}

	.links {
		width: 38%;
	}

	.index-hero {
		width: 1150px;
		margin: 0 auto;
		margin-top: 100px;
	}

	.carousel-control-next {
		display: block;
		opacity: 1;
		right: -90px;
	}

	.carousel-control-prev {
		display: block;
		opacity: 1;
		left: -90px;
	}

	.carousel-control-next-icon i, .carousel-control-prev-icon i {
		display: block;
		font-size: 2em;
		color: #000;
		padding-top: 8px;
	}

	.right-circle {
		display: block;
		height: 50px;
		width: 50px;
		background-color: #fff;
		border-radius: 50%;
		display: inline-block;
		margin-top: 250px;
	}

	.left-circle {
		display: block;
		height: 50px;
		width: 50px;
		background-color: #fff;
		border-radius: 50%;
		display: inline-block;
		margin-top: 250px;
	}
	
	.links-col1 {
		width: 50%;
	}

	.links-col2 {
		width: 50%;
	}

	.items-img {
    	margin-bottom: 30px;
	}

	.thumbnails {
		margin-top: 120px;
	}


}







